
h1{ color: brown;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;


}


.acevedo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}
.letra{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: brown;
}

*{ margin: 0px; 
padding:0px ;

}

h1{

margin-top: 30px;
text-align: center;
font-family: 'Times New Roman', Times, serif;


}


h2{

    text-align: center;
    margin-bottom: 30px;


}

h3{

    text-align: center;
}

.main-content-img{

    width: 100%;
}
.box-img{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: brown;
    margin: 0 auto;

}
.img-catalogo{
    width:800px ;
}











.style-vida{

    font-size: 10em;
}
/* catamaran-300 - latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/catamaran-v17-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/catamaran-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/catamaran-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/catamaran-v17-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/catamaran-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/catamaran-v17-latin-300.svg#Catamaran') format('svg'); /* Legacy iOS */
  }
  /* catamaran-700 - latin */
  @font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/catamaran-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/catamaran-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/catamaran-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/catamaran-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/catamaran-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/catamaran-v17-latin-700.svg#Catamaran') format('svg'); /* Legacy iOS */
  }