body{

    background-color: rgb(187, 172, 172);
}


table{
    background-color: rgb(247, 247, 247);
    width: 42px;
    color: rgb(7, 7, 7);
    font-size: large;
    text-align: center;
    margin: auto;

 
    
    
}
th{
    background-color: rgb(86, 134, 212);
    width: 80px;
}


td{

    background-color: rgb(201, 224, 240);
    padding: 90px 50px 20px 10px;
}

























