*{

margin: 0;
box-sizing: border-box ;

}
body{

 padding:90px 20px 0 ;
}


.header{

    background-color: rgb(0, 0, 0);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0 ;
}
.nav{

    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: rgb(253, 253, 252);
    text-decoration: none;
}

.logo{
font-size: 30px;
font-weight:bold ;
padding: 0 40px;
line-height: 80px;



}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    
}
.nav-menu-item{

    font-size: 15px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
    color: aliceblue;
}


.nav-menu-link{

    padding: 10px 15px;
    border-radius: 5px;

}
.nav-menu-link:hover,
.nav-menu-link_active {
   background-color: rgb(248, 248, 248);
    transition:0.5s ;
}

.nav-toggle{
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size:30px ;
    padding: 0 20px;
    line-height: 60px;

    display: none;
   

 }

 @media (max-width: 768px){
    body{

        padding-top:70px  ;
       }
       
       
       .header{
       
           
           height: 60px;
           
       }
       
       
       .logo{
       font-size: 25px;
       font-weight:bold ;
       padding: 0 20px;
       line-height: 60px;
       
       
       
       }
       .nav-menu{
           flex-direction: column;
           align-items: center;
           margin-right: 20px;
           background-color: darkcyan;
           position: fixed;
           left: 0;
           top: 60px;
           width: 100%;
           padding: 20PX  0;

           height: calc(100% - 60PX);
           overflow-y: auto;
           left: 100%;
           transition: left 0,3s;
          
           
       }
       .nav-menu-item{
       
           
           line-height: 200px;
          
          
       }
       
       
       
       
       .nav-menu-link:hover,
       .nav-menu-link_active {
          background: none;
          color: rgb(255, 255, 255);
       }
       .nav-toggle{
        display: block;
       }
       .buttun{

        background-color: brown;
       } 
       
    .nav-menu_visible{
        left: 0;
    }
   

    }
  