{
    margin: 0;
    padding: 0;
}
.main-nav {
    width: 100%;
    height: 80px;
    background-color: rgba(54, 171, 175, 0.9);
    font-size: 1.4em;
}

.roto-o{
    width: 100%;
    height: 200px;
    background-color: rgba(175, 53, 53, 0.342);
    font-size: 1.4em;

}




ul {
    text-align: center;
    
}
li {
    display: inline-block;
    margin-top: 12px;
}
.menu-a-style {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    /* font-weight: 900; */
    
}
.menu-a-style:hover {
    color: rgb(216, 216, 216);
}
h1 {
    margin-top: 30px;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
h3 {
    text-align:center;
}
.main-content-img {
    width: 100%;
}
.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: red;
    margin: 0 auto;
}
.img-catalogo {
    width: 800px;
}
.style-icon{
    font-size: 2.5em;
    margin-right: 8px;
    vertical-align: top;
    margin-top: 3px;
    color: rgb(243, 248, 241);
}


































